<div id="page_wrapper">
	<div id="proile_image">
		<%= image_tag "profile.jpg" %>
	</div>


	<div id="content">
		<h1>Hello, I'm Karen Mitchell</h1>
		<p>Welcometo my Blog!</p>
		<p>Cred freegan umami, shaman health goth organic hell of plaid kale chips vape trust fund. Hashtag post-ironic plaid vinyl small batch, edison bulb tofu pok pok everyday carry ugh. Readymade chambray direct trade, seitan chartreuse church-key swag williamsburg kale chips iceland tumeric bespoke. Four loko live-edge marfa la croix shabby chic tumeric tumblr art party hella af lomo chartreuse. La croix try-hard before they sold out humblebrag cronut.

		Kale chips flannel kogi, raw denim tacos deep v venmo selfies microdosing listicle freegan air plant squid +1 literally. Everyday carry keytar DIY dreamcatcher tumeric meh 90's. Venmo four dollar toast fam af, truffaut meditation bespoke normcore marfa typewriter. Art party tbh yuccie, fashion axe taiyaki direct trade man bun organic jean shorts hell of truffaut selfies quinoa. Leggings glossier knausgaard tilde. Fam williamsburg vegan meditation waistcoat trust fund dreamcatcher man braid hot chicken keytar stumptown bitters.</p>
		
	</div>

</div>